<div class="flex bg-yellow w-sw-1/4">
  <ul>
    <LinkTo @route="home.index" @query={{hash splash=true}}>
      [ LOGO ]
    </LinkTo>
    <hr>
    <li>
      <LinkTo @route="home.index" @query={{hash splash=false}}>Till Tax</LinkTo>
    </li>
    <li>
      <ul>
        <strong>Services</strong>
        <li>
          Taxes:
          <ul>
            <li>
              <LinkTo @route="services.taxes.individual">
                Individial
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="services.taxes.day-care">
                Day Care
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="services.taxes.military">
                Military
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="services.taxes.small-business">
                Small Business
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="services.taxes.corporation">
                Corporation
              </LinkTo>
            </li>
          </ul>
        </li>
        <li>
          Quickbooks:
          <ul>
            <li>
              <LinkTo @route="services.quickbooks.payroll">
                Payroll
              </LinkTo>
            </li>
          </ul>
        </li>
        <li>
          Accounting:
        </li>
      </ul>
    </li>
  </ul>
</div>