@import 'tailwind';

// GLOBAL STYLES
html {
  body {
    a, a:hover {
      color: unset;
      text-decoration: none;
      text-decoration-color: none;
    }
  }
}

// FONTS
@import url('https://use.typekit.net/tar5rbi.css');

.title-font {
  font-family: "adorn-smooth-serif"
}

.subtitle-font {
  font-family: "Times New Roman"
}
